.App {
  min-height: 100%;
  padding-bottom: 150px;

  .CreateButton {
    display: block;
    margin: 35px auto 64px;
    width: 200px;
  }
}

.Cash {
  text-align: center;
  margin: 50px 0;
  font-size: 54px;
  font-weight: 800;

  &.Minus {
    color: red;
  }
}